<%= if @error == nil do %>
  <br>
  Authentication succeed! 
  <br>
  You can see authenticated user(s) <a href="/did#known_users">here</a>.
<% else %>
  Authentication failed!
  <br>
  <% @error %>
<% end %>

