/* This file is for your main application css. */
body {
  margin: 0;
  padding: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 16px;
}

a {
  color: #4e6af6;
  text-decoration: underline;
}

@import './materialize.css';

.header {
  padding: 1rem 2.5rem;
}

.header .brand {
  text-decoration: none;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.header .brand-logo {
  margin-right: 1rem;
}

.header .brand p {
  margin: 0;
}

.header .brand-title {
  font-family: Avenir;
  font-size: 24px;
  font-weight: 900;
  letter-spacing: 2.7px;
  color: #222222;
  text-transform: uppercase;
  text-decoration: none;
}

.header .brand-description {
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 2px;
  color: #9b9b9b;
}

/* Rewrite */
.collapsible {
  box-shadow: 0 0 0 0 transparent;
}

.collapsible-header {
  background: transparent;
}

/* Application */
#main {
  margin-top: 2rem;
}

.page-header {
  font-size: 1rem;
  line-height: 1.71;
  letter-spacing: 2px;
  color: #222222;
  margin-top: 0;
  margin-bottom: 2rem;
  font-weight: 500;
  text-transform: uppercase;
  display: flex;
  align-items: center;
}

.page-subheader {
  margin-top: -1rem;
  margin-bottom: 3rem;
}

.page-header i {
  margin-right: 0.5rem;
}

.step-badge {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 24px;
  height: 24px;
  background-color: #4e6af6;
  color: #ffffff;
  border-radius: 50%;
  margin-right: 0.5rem;
  font-size: 1rem;
}

.page-header-disabled {
  color: #222222;
  margin-bottom: 0;
}
.page-header-disabled .step-badge {
  background-color: #bcbcbc;
}

.page-header-done {
  margin-bottom: 0;
}

.section-header {
  height: 16px;
  font-size: 1rem;
  letter-spacing: 1px;
  color: #4a4a4a;
  margin-bottom: 1rem;
}

.info-panel {
  border-left: solid 1px #222222;
  padding-left: 1rem;
}
.info-panel .page-header {
  margin-bottom: 2rem;
}

.info-text {
  word-wrap: break-word;
  color: #9b9b9b;
}

.text-capitalize {
  text-transform: capitalize;
}

.action-buttons {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.action-buttons form {
  display: inline-block;
  margin: 0 1rem 0 0;
}

.qrcode {
  width: 200px !important;
  height: 200px !important;
}

.qrcode-wrapper {
  margin: 2rem 0;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.qrcode-small {
  width: 150px !important;
  height: 150px !important;
}

/* alerts */
.alert {
  padding: 0.75rem 1.25rem;
  margin-bottom: 2rem;
  display: flex;
  align-items: center;
}

.alert .material-icons {
  margin-right: 1rem;
  color: inherit;
}

.alert-success {
  color: #155724;
  background-color: #d4edda;
  border-color: #c3e6cb;
}

.alert-success .alert-link {
  color: #0b2e13;
}

.alert-info {
  color: #0c5460;
  background-color: #d1ecf1;
  border-color: #bee5eb;
}

.alert-info .alert-link {
  color: #062c33;
}

.alert-warning {
  color: #856404;
  background-color: #fff3cd;
  border-color: #ffeeba;
}

.alert-warning .alert-link {
  color: #533f03;
}

.alert-danger {
  color: #721c24;
  background-color: #f8d7da;
  border-color: #f5c6cb;
}

.alert-danger .alert-link {
  color: #491217;
}

/* page-did-show */
.auth-open {
  display: flex;
  justify-content: flex-end;
}

.app-subtitle,
.app-description,
.app-link,
.app-key {
  font-size: 1rem;
}

.app-link,
.app-key {
  margin-top: 3rem;
}

/* demo list */
.demo-case {
  margin-bottom: 2rem;
}
.demo-case .demo-name {
  margin-bottom: 1rem;
}
.demo-case .demo-name a {
  font-weight: 600;
}

.demo-case .demo-txs .demo-tx {
  padding-left: 1rem;
  list-style: inside disc;
  font-size: 0.9rem;
  color: #4a4a4a;
}

/* tx list */
.info-panel.tx {
  margin-bottom: 3rem;
}
.tx .tx-name {
  font-weight: 600;
}
.tx .tx-description {
  font-size: 0.9rem;
  word-break: break-word;
}
.tx .tx-behaviors {
  margin-top: 2rem;
}
.tx .behavior-name {
  text-transform: capitalize;
  color: #4a4a4a;
  margin-bottom: 0.5rem;
}

.app-header { display: flex; justify-content: space-between; }
p.info-text { margin: 0; }
