/* This file is for your main application css. */
body {
  margin: 0;
  padding: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 16px;
}

@import './materialize.css';

.page-header {
  font-size: 1rem;
  line-height: 1.71;
  letter-spacing: 2px;
  color: #222222;
  margin-bottom: 3rem;
  font-weight: 500;
  text-transform: uppercase;
}

.step-badge {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 24px;
  height: 24px;
  background-color: #4e6af6;
  color: #ffffff;
  border-radius: 50%;
  margin-right: 0.5rem;
  font-size: 1rem;
}

.section-header {
  height: 16px;
  font-size: 1rem;
  letter-spacing: 1px;
  color: #4a4a4a;
  margin-bottom: 1rem;
}

.form-group {
  margin-bottom: 2rem;
}

.info-panel {
  border-left: solid 2px #222222;
  padding-left: 1rem;
}
.info-panel .page-header {
  margin-bottom: 2rem;
}

/* page-did-show */
.app-actions,
.auth-qrcode,
.auth-open {
  display: flex;
  justify-content: flex-end;
}

.app-subtitle,
.app-description,
.app-link,
.app-sk {
  font-size: 1rem;
}

.app-link,
.app-sk {
  margin-top: 3rem;
}

.app-actions form {
  display: inline-block;
  margin: 0 1rem 0 0;
}

.info-text {
  word-wrap: break-word;
  color: #4a4a4a;
}

.auth-qrcode {
  margin: 2rem 0;
}
.auth-qrcode canvas {
  width: 200px !important;
  height: 200px !important;
}
