/* This file is for your main application css. */
body {
  margin: 0;
  padding: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 16px;
}

a {
  color: #71b5b2;
}

@import './materialize.css';

#main {
  margin-top: 2rem;
}

.page-header {
  font-size: 1rem;
  line-height: 1.71;
  letter-spacing: 2px;
  color: #222222;
  margin-top: 0;
  margin-bottom: 2rem;
  font-weight: 500;
  text-transform: uppercase;
  display: flex;
  align-items: center;
}

.page-subheader {
  margin-top: -1rem;
  margin-bottom: 3rem;
}

.page-header i {
  margin-right: 1rem;
}

.step-badge {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 24px;
  height: 24px;
  background-color: #4e6af6;
  color: #ffffff;
  border-radius: 50%;
  margin-right: 0.5rem;
  font-size: 1rem;
}

.section-header {
  height: 16px;
  font-size: 1rem;
  letter-spacing: 1px;
  color: #4a4a4a;
  margin-bottom: 1rem;
}

.form-group {
  margin-bottom: 2rem;
}

.info-panel {
  border-left: solid 2px #222222;
  padding-left: 1rem;
}
.info-panel .page-header {
  margin-bottom: 2rem;
}

/* alerts */
.alert {
  padding: 0.75rem 1.25rem;
  margin-bottom: 2rem;
  display: flex;
  align-items: center;
}

.alert .material-icons {
  margin-right: 1rem;
  color: inherit;
}

.alert-success {
  color: #155724;
  background-color: #d4edda;
  border-color: #c3e6cb;
}

.alert-success .alert-link {
  color: #0b2e13;
}

.alert-info {
  color: #0c5460;
  background-color: #d1ecf1;
  border-color: #bee5eb;
}

.alert-info .alert-link {
  color: #062c33;
}

.alert-warning {
  color: #856404;
  background-color: #fff3cd;
  border-color: #ffeeba;
}

.alert-warning .alert-link {
  color: #533f03;
}

.alert-danger {
  color: #721c24;
  background-color: #f8d7da;
  border-color: #f5c6cb;
}

.alert-danger .alert-link {
  color: #491217;
}

/* page-did-show */
.app-actions,
.auth-qrcode,
.auth-open {
  display: flex;
  justify-content: flex-end;
}

.app-subtitle,
.app-description,
.app-link,
.app-key {
  font-size: 1rem;
}

.app-link,
.app-key {
  margin-top: 3rem;
}

.app-actions form {
  display: inline-block;
  margin: 0 1rem 0 0;
}

.info-text {
  word-wrap: break-word;
  color: #4a4a4a;
}

.auth-qrcode {
  margin: 2rem 0;
}
.auth-qrcode canvas {
  width: 200px !important;
  height: 200px !important;
}
