@font-face {
  font-family: 'did-abt-logo';
  src: url('/fonts/did-abt-logo.eot?y7fc1t');
  src: url('/fonts/did-abt-logo.eot?y7fc1t#iefix') format('embedded-opentype'),
    url('/fonts/did-abt-logo.ttf?y7fc1t') format('truetype'),
    url('/fonts/did-abt-logo.woff?y7fc1t') format('woff'),
    url('/fonts/did-abt-logo.svg?y7fc1t#did-abt-logo') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^='icon-did'],
[class*=' icon-did'] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'did-abt-logo' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  margin-left: 0.1rem;
  margin-right: 0.1rem;

  /* Enable Ligatures ================ */
  letter-spacing: 0;
  -webkit-font-feature-settings: 'liga';
  -moz-font-feature-settings: 'liga=1';
  -moz-font-feature-settings: 'liga';
  -ms-font-feature-settings: 'liga' 1;
  font-feature-settings: 'liga';
  -webkit-font-variant-ligatures: discretionary-ligatures;
  font-variant-ligatures: discretionary-ligatures;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-did-abt:before {
  content: '\1f315';
}
